{% extends './base.html' %}
{% load static %}
    <!-- ==========Banner-Section========== -->

{% block content %}

<section class="event-banner-section bg_img" data-background="{{object.banner.url}}">
    <div class="container">
        <div class="event-banner">
        </div>
    </div>
</section>
<!-- ==========Event-Banner-Section========== -->

<!-- ==========Event-Book-Search========== -->
<section class="event-book-search padding-top pt-lg-0">
    <div class="container">
        <div class="event-search bg_img" data-background="assets/images/ticket/ticket-bg01.jpg">
            <div class="event-search-top">
                <div class="left">
                    <h3 class="title">{{object.name}}</h3>
                </div>
                <div class="right">
                    {% if total_tickets > 0 %}
                    <ul class="countdown mr-2">
                        <li>
                            <h2><span class="days">{{object.date_start|date:"d M Y"}} {{object.date_start|date:"h:i A"}}</span></h2>
                        </li>
                    </ul>
                    <form class="div" method="post" action="">
                        {% csrf_token %}
                        <div class="mb-2">
                            <select name="tickets" id="ticket" class="form-control">
                                {% for x in max_tickets %}
                                <option value="{{x}}">{{x}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="custom-button mr-2 ml-0">Comprar </button>
                    </form>
                    {% else %}
                    
                    <h5 class="">Tickets Agotados</h5>
                    
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>    
<!-- ==========Event-Book-Search========== -->

<!-- ==========Event-About========== -->
<section class="event-about padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-between flex-wrap-reverse">
            <div class="col-lg-7 col-xl-6">
                <div class="event-about-content">
                    <div class="section-header-3 left-style m-0">
                        <div class="d">{{object.description|safe}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-7">
                <div class="event-about-thumb">
                    <img src="{{object.cover.url}}" alt="event">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
    
 