{% load static %}
<footer class="footer-section">
    {% comment %} <div class="newslater-section padding-bottom">
        <div class="container">
            <div class="newslater-container bg_img" data-background="{% static 'assets/images/newslater/newslater-bg01.jpg' %}">
                <div class="newslater-wrapper">
                    <h5 class="cate">subscribe to Boleto </h5>
                    <h3 class="title">to get exclusive benifits</h3>
                    <form class="newslater-form">
                        <input type="text" placeholder="Your Email Address">
                        <button type="submit">subscribe</button>
                    </form>
                    <p>We respect your privacy, so we never share your info</p>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <div class="container">
        <div class="footer-top">
            <ul class="social-icons">
               
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-area">
            </div>
        </div>
    </div>
</footer>